spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mwallet
    username: mwallet
    password: mwallet@001
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    baseline-on-migrate: true
    enabled: true
